<app-dashboard-layout>

  <app-dashboard-header
    [usuario]="usuario"
    (logoutSubmit)="logoutSubmit.emit()">
  </app-dashboard-header>

  @if (loadingDashboard) {
    <app-loading-message message="Cargando información del cajero..."></app-loading-message>
  }

  @if (errorMessage) {
    <app-alert
      type="error"
      [message]="errorMessage">
    </app-alert>
  }

  @if (successMessage) {
    <app-alert
      type="success"
      [message]="successMessage">
    </app-alert>
  }

  @if (!loadingDashboard && cajero) {

    <app-cajero-summary
      [cajero]="cajero"
      [totalDisponible]="totalDisponible">
    </app-cajero-summary>

    <section class="home-dashboard__main-grid">

      <app-inventario-table
        [inventario]="inventario">
      </app-inventario-table>

      <app-retiro-panel
        [loadingRetiro]="loadingRetiro"
        [cajeroActivo]="cajero.activo"
        [totalDisponible]="totalDisponible"
        (retirarSubmit)="retirarSubmit.emit($event)">
      </app-retiro-panel>

      <app-movimientos-history
        [movimientos]="movimientos"
        [cargandoMovimientos]="cargandoMovimientos"
        [mensajeErrorMovimientos]="mensajeErrorMovimientos">
      </app-movimientos-history>

    </section>
  }

</app-dashboard-layout>